<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JackRouter</string>
	<key>CFBundleGetInfoString</key>
	<string>JackRouter 0.9.5, @2004-2011 Grame</string>
	<key>CFBundleIdentifier</key>
	<string>com.grame.JackRouter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JackRouter</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>JackRouter</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.5</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>7CB18864-927D-48B5-904C-CCFBCFBC7ADD</key>
		<string>New_JackRouterPlugIn</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>F8BB1C28-BAE8-11D6-9C31-00039315CD46</key>
		<array>
			<string>7CB18864-927D-48B5-904C-CCFBCFBC7ADD</string>
		</array>
	</dict>
</dict>
</plist>
